<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerName" value="192.168.2.10\SQLSERVER"/>
		<add key="DataBaseName" value="dbXinantecatl"/>
		<add key="UserId" value="sa"/>
		<add key="Password" value="X1n4nT"/>
	</appSettings>
	<connectionStrings>
		<add name="conexionBD" connectionString="Data Source= us-east.connect.psdb.cloud;Database=dbcolegio;Port=3306;User Id = mt9a9knp76x3p7epvfh7; Password = pscale_pw_iCCaGg5WKzMJu5RZGFeaka5PkVHo5roh7VlCy1VlbFn"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>